<div *ngIf="{
    dates: selectDates$ | async,
    holidays: selectHolidays$ | async
  } as state">

    <div *ngIf="state.dates && state.holidays && state.holidays.length > 0">
        <div>
            <nwd-day-selector (onSelect)="onDaySelected($event)"></nwd-day-selector>
        </div>
        <div>
            <nwd-year-selector (onSelect)="onYearSelected($event)"></nwd-year-selector>
        </div>


        <div class="calendars">
            <nwd-calendar *ngFor="let date of state.dates" [date]="date"
                [holidays]="associatedHolidays(date, state.holidays)"></nwd-calendar>
        </div>


    </div>
</div>