.calendar {
    width: 210px;
  
    .day {
      width: 30px;
      display: inline-block;
      text-align: center;

      &.Hol{
        color: orange;
      }
      &.Su,
      &.Sa{
        color: red;
      }
      &.selected{
        color: black;
        background: yellow;
      }
    }
  }

  .title {
    text-align: center;
  }